name: Release Binaries

on:
  push:
    tags: ["v*"]

jobs:
  goreleaser:
    runs-on: nscloud-ubuntu-24.04-amd64-4x8
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.20"

      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
